/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #f9f9f9 !default;
$text-color: #40514e !default;
$muted-text-color: #40514e !default;
$primary-color: #283d8f !default;
$border-color: mix(#000, $background-color, 25%) !default;
$footer-background-color: mix(#000, $background-color, 10%) !default;
$footer-text-color: mix(#000, $text-color, 50%) !default;
$link-color: #30599e !default;
$masthead-background-color: $footer-background-color !default;
$masthead-link-color: mix(#555,$text-color,50%) !default;
$masthead-link-color-hover: mix(#000, $text-color, 100%) !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;


$teaser-item-border-color: mix(#fff, $border-color, 50%) !default;

/* Fonts */
.page__content {
  p,
  li,
  dl {
    font-size: 0.9em !important;
  }
}

.page {
  width: 100% !important;
}

.page__footer {
  color: $footer-text-color !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.masthead {
  margin-top: 0.5em;
  border-top: 1px solid $border-color;
  background: $masthead-background-color;
}

.greedy-nav {
  background: $masthead-background-color !important;
}

.site-title {
  width: 50px;
  float: left;
  padding: 0 !important;
}

.masthead__inner-wrap {
  padding: 0.2em !important;
}

.feature__item .archive__item-teaser {
  min-height: 11em;

}

.feature__item .archive__item {
  border: $teaser-item-border-color solid 1px;
  padding: 0.25em;
  background-color: white;
  margin-bottom: 0.5em;
  text-align: center;
}

h2.archive__item-title {
  font-size: 1em;
  text-align: center;
}

p#intro-text {
  border: 1px solid $teaser-item-border-color;
  padding: 1em;
  background-color: white;
  text-align: center;
}